/* Sky Blue Background */
body {
    background-color: #87CEEB; /* Change to sky blue */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: relative; /* Adjust position */
    background-color: black;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header img {
    position: absolute;
    top: 10px;
    left: 10px;
}

h1 {
    margin: 20px 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.movie {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center; /* Center movie content */
}

.movie img {
    width: auto;
    max-height: 150px;
    border-radius: 5px;
}

.movie:hover {
    transform: scale(1.05);
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: black;
    color: #fff;
    padding: 10px;
    width: 100%; /* Change width to 100% */
    text-align: center;
    margin: 10px; /* Add margin for spacing */
}

.social-icons {
    position: absolute;
    bottom: 10px; /* Adjust distance from bottom */
    right: 10px; /* Adjust distance from right */
}

.social-icons a {
    margin: 0 5px; /* Adjust spacing */
}


/* Custom CSS for Carousel */
.carousel-inner .item {
    transition: opacity 1s ease-in-out;
}

.carousel-inner .item:nth-child(1) {
    transition-delay: 0s;
}

.carousel-inner .item:nth-child(2) {
    transition-delay: 5s;
}

.carousel-inner .item:nth-child(3) {
    transition-delay: 10s;
}

.carousel-inner .item:not(.active) {
    opacity: 0;
}

/* Pause on hover */
.carousel:hover .carousel-control {
    opacity: 1;
}

.carousel:hover .carousel-control.left, .carousel:hover .carousel-control.right {
    opacity: 1;
}


